.Header{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #fff;
    padding: 30px 0;
    box-shadow: rgb(43 52 69 / 10%) 0px 4px 16px;
    position: fixed;
    top:0;
    width: 100%;
    z-index: 09809;
}
.Searching{
    border: 1px solid #D46A6A;
    padding:3px 10px;
    width: 30vw;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.Searching input {
    border: none;
    width: 90%;
    font-size: 20px;
    padding: 10px;
    outline: none;
}
.Cart{
    display: flex;
    align-items: center;
    justify-content: center;
}
.Cart i{
    padding: 13px;
    margin-left: 20px;
    background-color:#f6f9fc;
    color: #D46A6A;
    cursor: pointer;
    border-radius: 20px;
    z-index: 23;
}
.tocart{
    position: relative;
    z-index: 23;
}
.count{
    position: absolute;
    top: -17px;
    left: 55px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D46A6A;
    color:#ffff;
    z-index: 27;
}
.mobile{
    width: 30px;
    height: 30px;
    background-color: #f6f9fc;
    padding: 7px;
    border-radius: 20px;
    margin-left: 30px;
    position: relative;
    cursor: pointer;
    display: none;
}
.mobile-res{
    position: absolute;
    width: 25px;
    height: 4px;
    background-color:#D46A6A;
    transition: .5s;
    margin-top: 12px;
}
.mobile-res:first-child{
    top:0;
}
.mobile-res:nth-child(2){
    top: 8px;
}
.mobile-res:last-child{
    top: 16px;
}
.one{
    transform: rotate(-45deg);
    margin-top: 20px;
}
.two{
    opacity: 0;
}
.three{
    transform: rotate(45deg);
    margin-top:4px;
}
@media (max-width:1100px) {
    .mobile{
        display: initial;
    }
    /* .Header{
        width: 100%;
        padding-right: 190px;
    } */
}
@media (max-width:650px) {
    .logo{
        display: none;
    }
    .Searching{
        width: 50vw;
    }
    /* .Header{
        width: 100%;
        padding-right: 190px;
    } */
}
